@import url("styles/header.css");

:root {
    --cor-de-fundo: #EBECEE;
    --vermelho: #b63737;
    --laranja: #cf915e;
    --amarelo: linear-gradient(97.54deg, #d6cd47 35.49%, #90d177 165.37%);
    --fonte-principal: "Poppins";
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
}